* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: #222;
}

h1 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    color: #b84c4c;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    color: #888;
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 10px;
}

strong {
    color: #b84c4c;
}

button {
    background-color: #b84c4c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #a03e3e;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}